include LICENSE
include README.md
include python_model_service/api/swagger.yml

recursive-include tests *
recursive-include python_model_service *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
